nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem;
    font-family: 'Roboto', sans-serif;
  }
  
  nav span{
    color: #EF767A;
    font-weight: 900;
  }
  
  nav ul{
    display: flex;
    flex-direction: row;
  }
  
  nav ul li{
    padding: 0rem 10rem 0rem 0rem;
  }
  
  nav ul li a:focus{
    color: #EF767A;
  }
  
  header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
    overflow: hidden;
  }